@import "libs/bootstrap-reboot.min";
@import "libs/fonts";
@import "libs/swiper-bundle.min";

@import "base/vars";
@import "base/animation";

* {
	font-family: 'MuseoSansCyrl', sans-serif;
}

input {
	outline: none;
}

button:active, button:focus {
	outline: none;
}

.container {
	position: relative;
	max-width: 950px;
	margin: 0 auto;
}
a {
	text-decoration-skip-ink: none;
}

a:hover {
	text-decoration: none;
}

img {
	max-width: 100%;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
}
ul {
	list-style-type: none;
	margin-bottom: 0;
	padding-left: 0;
}
@import "blocks/promo";
@import "blocks/header";
@import "blocks/buttons";
@import "blocks/advant";
@import "blocks/titles";
@import "blocks/consultation";
@import "blocks/forms";
@import "blocks/slider";
@import "blocks/catalog";
@import "blocks/reviews";
@import "blocks/map";
@import "blocks/overlay";
@import "blocks/pageup";
@import "blocks/media";
