.watch-slider {
  min-height: 700px;
  padding: 108px 0 50px 0;
  background-color: #ffffff;
}

.image-slider {
  min-width: 750px;
  min-height: 580px;
}

.image-slider__image {
  text-align: center;
}

.watch-slider .swiper-button-prev:after,
.watch-slider .swiper-button-next:after {
  font-size: 50px;
  font-weight: 700;
  color: var(--main-color);
}